<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Curriculum</th>
                    <th>Program</th>
                    <th>Dept.</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Program Owner</th>
                    <th>PEO / PO Creation</th>
                    <th>Import</th>
                    <th>Edit</th>
                    <th>Status</th>
                    <th>Course - COS to Bloom's Level Mapping Status</th>
                    <th>Student to Course Registration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ doc.curriculumn_name }}</td>
                    <td>{{ doc.program_title }}</td>
                    <td>{{ doc.department }}</td>
                    <td>{{ doc.start_year }}</td>
                    <td>{{ doc.end_year }}</td>
                    <td>{{ doc.program_owner }}</td>
                    <td>{{ doc.peopo_creation }}</td>
                    <td>{{ doc.import }}</td>
                    <td>{{ doc.edit }}</td>
                    <td>{{ doc.status }}</td>
                    <td>{{ doc.course_mapping_status }}</td>
                    <td>{{ doc.student_registration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
